/Task.Server/node_modules
/Task.Server/public/hot
/Task.Server/public/storage
/Task.Server/storage/*.key
/Task.Server/storage/framework/security
/Task.Server/storage/debugbar
/Task.Server/vendor/
/Task.Server/.idea
/Task.Server/.vscode
/Task.Server/nbproject
/Task.Server/.vagrant
/Task.ServerHomestead.json
/Task.ServerHomestead.yaml
/Task.Servernpm-debug.log
/Task.Serveryarn-error.log
/Task.Server/.env
/Task.Server/.env-dev
/Task.Server/.env-prod
/Task.Server/.env-cloud
/Task.Server.phpunit.result.cache
/.idea/
/Task.Server/_ide_helper.php
/Task.Server/composer.lock
/Task.Server/package-lock.json
/Task.Server/.phpstorm.meta.php
.vscode/
.VSCodeCounter/
/Task.Server/storage/logs
*.DS_Store
